@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;

    --tag-color-1: 0 84% 60%;
    --tag-color-2: 25 95% 53%;
    --tag-color-3: 38 92% 50%;
    --tag-color-4: 53 79% 64%;
    --tag-color-5: 84 81% 44%;
    --tag-color-6: 142 71% 45%;
    --tag-color-7: 160 84% 39%;
    --tag-color-8: 173 80% 40%;
    --tag-color-9: 189 94% 43%;
    --tag-color-10: 199 89% 48%;
    --tag-color-11: 217 91% 60%;
    --tag-color-12: 239 84% 67%;
    --tag-color-13: 258 90% 66%;
    --tag-color-14: 271 91% 65%;
    --tag-color-15: 292 84% 61%;
    --tag-color-16: 330 81% 64%;
    --tag-color-17: 350 89% 60%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;

    --tag-color-1: 0 58% 50%;
    --tag-color-2: 25 65% 40%;
    --tag-color-3: 38 60% 40%;
    --tag-color-4: 53 50% 50%;
    --tag-color-5: 84 48% 35%;
    --tag-color-6: 142 45% 40%;
    --tag-color-7: 160 54% 35%;
    --tag-color-8: 173 52% 35%;
    --tag-color-9: 189 60% 38%;
    --tag-color-10: 199 55% 42%;
    --tag-color-11: 217 60% 50%;
    --tag-color-12: 239 50% 55%;
    --tag-color-13: 258 55% 55%;
    --tag-color-14: 271 60% 54%;
    --tag-color-15: 292 58% 50%;
    --tag-color-16: 330 55% 52%;
    --tag-color-17: 350 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground text-sm;
  }
}
